<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1 style="text-align:center">Cálculo de salário</h1>
  <h3>Cálculo em tempo real</h3>
  <div>
    <label>Salário bruto</label>
    <input type="number" [(ngModel)]="salarioInformado" (change)="updateSalario($event)" min="0">
  </div>
  <div>
    <label>Base INSS</label>
    <input type="number" [(ngModel)]="salario.baseINSS" disabled>
  </div>
  <div>
    <label>Desconto INSS</label>
    <input type="number" [(ngModel)]="salario.descontoINSS" disabled>
  </div>
  <div>
    <label>Base IRPF</label>
    <input type="number" [(ngModel)]="salario.baseIRPF" disabled>
  </div>
  <div>
    <label>Desconto IRPF</label>
    <input type="number" [(ngModel)]="salario.descontoIRPF" disabled>
  </div>
  <div>
    <label>Salário líquido</label>
    <input type="number" [(ngModel)]="salario.salarioLiquido" disabled>
  </div>
  <h3>Cálculo reverso</h3>
  <label>Salário líquido desejado</label>
  <input type="number" [(ngModel)]="salarioLiquidoDesejado">
  <button (click)="converteSalarioBrutoParaLiquido()">
    Calcular salário bruto correspondente
  </button>
</div>